@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.plane-scrollbar::-webkit-scrollbar {
  display: none;
}
.tooltip {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
  width: 384px;
  height: auto;
  background-color: var(--tooltip-bg);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 6px -2px #0000000D;
  box-shadow: 0 10px 15px -3px #0000001A;
  margin-bottom: 20px;
}

.tooltip[data-variant="bold"][data-color="black-white"] {
  --tooltip-bg: #262626;
  --tooltip-desc-color: #C7C7C7;
}
.tooltip[data-variant="bold"][data-color="violet"] {
  --tooltip-bg: #8e51ff;
  --tooltip-desc-color: #FFFFFF;
}

.tooltip[data-variant="light"][data-color="black-white"] {
  --tooltip-bg: #FFFFFF;
  --tooltip-desc-color: #6B7280;
}
.tooltip[data-variant="light"][data-color="violet"] {
  --tooltip-bg: #FFFFFF;
  --tooltip-desc-color: #7f22fe;
}

.tooltip::before {
  content: '';
  border: 20px solid var(--tooltip-bg);
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 100%;
  left: 70px;
  z-index: 2;
}

.tool-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
  color: var(--tooltip-desc-color);
}
